.card-container {
  background: linear-gradient(to right, #500e8e, #770b13);
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, transparent 2%, #0c0c0e 75%, #0c0c0e 100%);
    pointer-events: none;
  }

  * {
    z-index: 2;
  }

  .card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;

      .card-about-body {
        width: 20rem;
        height: 30rem;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: #C1272D;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

        &:hover {
          border-radius: 70px 0px 70px 0px;
          transition: 0.4s;

          img {
            transition: opacity 0.3s ease-in;
            opacity: 0.3;
          }

          h2 {
            inset: auto auto 350px 30px;
            transition: inset 0.4s ease-out;
            color: #fff;
          }

          p, a {
            opacity: 1;
            transition: opacity 0.3s 0.1s ease-in;
            color: #fff;
          }
        }

        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0.8;
          transition: opacity 0.2s ease-out;
        }

        h2 {
          position: absolute;
          inset: auto auto 30px 30px;
          margin: 0;
          transition: inset 0.3s 0.3s ease-out;
          font-size: 30px;
          text-transform: uppercase;
          color: #b7111d;
          font-weight: 600;
        }
      }

      p, a {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity 0.3s ease-out;

      }

      p {
        inset: auto auto 80px 30px;
      }

      a {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
      }
    }
  }
}