@use "../config/colors";

.card-container {
  background: linear-gradient(to right, colors.$red, colors.$light-purple);
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      ellipse,
      transparent 2%,
      rgba(250, 224, 189, 0.6) 75%,
      rgba(250, 224, 189, 0.8) 100%
    );
    pointer-events: none;
  }

  * {
    z-index: 2;
  }

  .card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;

    .card-about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .card-about-body {
        width: 180px;
        height: 180px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: #c1272d;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

        &:hover {
          border-radius: 70px 0 70px 0;
          transition: 0.4s;

          img {
            transition: opacity 0.3s ease-in;
            opacity: 0.2;
          }

          h2 {
            inset: auto auto 100px 30px;
            transition: inset 0.4s ease-out;
            color: #fff;
          }

          p,
          a {
            opacity: 1;
            transition: opacity 0.3s 0.1s ease-in;
            color: #fff;
          }
        }

        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0.7;
          transition: opacity 0.2s ease-out;
        }

        h2 {
          position: absolute;
          inset: auto auto 30px 30px;
          margin: 0;
          transition: inset 0.3s 0.3s ease-out;
          font-size: 20px;
          text-transform: uppercase;
          color: #b7111d;
          font-weight: 600;
          text-align: right;
          margin-right: 10px;
        }
      }

      p,
      a {
        font-size: 16px;
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity 0.3s ease-out;
      }

      p {
        inset: auto auto 10px 10px;
      }

      a {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
