@use "../config/colors";

.btn-purple-gradient {
  background-image: linear-gradient(60deg, #6b24d6, #a56ef4, #a56ef4, #6b24d6);
  background-size: 600%;
  background-position: left;
  padding: 12px 30px;
  border-top: #7f2bf7 solid 1px;
  border-left: #7f2bf7 solid 1px;
  border-bottom: #500e8e solid 1px;
  border-right: #500e8e solid 1px;
  border-radius: 50px;
  text-decoration: none;
  color: #e6e6e6;
  transition: color 0.3s, transform 0.3s, background-position 1s;
  display: inline-block;

  &:hover {
    color: white;
    transform: translateY(-4px);
    background-position: right;
  }
}

.btn-border {
  padding: 12px 20px;
  background: transparent;
  border: #ffffff solid 1px;
  border-radius: 32px;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover {
    background-color: colors.$middle-purple;
    border-color: colors.$middle-purple;
    color: #ffffff;
  }
}

#myBtn {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  outline: none;
  color: colors.$p-color;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #fff;
  }
}
