@use "config/colors";

.about-page {
  p {
    line-height: 1.7;
  }

  h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  small {
    color: colors.$p-color;
  }

  .about-page-top {
    margin-top: 30px;
    margin-bottom: 50px;
    height: 360px;
    background-image: url("../assets/header-background.png");
    background-repeat: no-repeat;
    background-size: 30% auto;
    background-position: 5% center;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3rem;
      background: linear-gradient(to left, #9838f4, #c1272d, #9838f4);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .img-we {
    width: 100%;
  }

  .services {
    margin-top: 100px;
    margin-bottom: 100px;

    .img-hands {
      width: 85%;
      display: flex;

      img {
        width: 100%;
      }
    }
  }

  ul {
    margin-top: 30px;

    li {
      color: colors.$p-color;
      margin-bottom: 10px;
    }
  }

  .why-choose-us {
    margin-bottom: 100px;

    .row {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      box-sizing: border-box;
      background: colors.$card-bg;
      position: relative;
      padding: 20px;
      border-radius: 15px;
      border: 1px solid colors.$card-border;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      flex: 1;

      h5 {
        color: colors.$p-color;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      p {
        font-weight: 300;
      }

      svg {
        color: colors.$p-color;
        font-size: 2.5rem;
      }

      @media (max-width: 640px) {
        svg {
          font-size: 2rem;
        }
      }
    }
  }

  .founders,
  .team-members {
    h2 {
      margin-bottom: 80px;
      color: colors.$p-color !important;
      background: none !important;
      -webkit-text-fill-color: colors.$p-color !important;
    }

    h5 {
      color: colors.$light-purple;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    .founder-img {
      max-width: 500px;
      margin: 0 auto;

      img {
        width: 100%;
        margin: 20px;
      }

      @media (max-width: 640px) {
        width: 250px;
      }
    }
  }
}
