.home-top-bg {
  height: 100vh;
  background: linear-gradient(to right, #500e8e, #770b13);
  padding-top: 8%;
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, transparent 2%, #0c0c0e 100%);
    pointer-events: none;
  }

  * {
    z-index: 2;
  }

  .img-bg {
    height: 100%;
    background-image: url("../assets/header-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom -20%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(ellipse, transparent 2%, #0c0c0e 75%, #0c0c0e 100%);
      pointer-events: none;
    }
  }

  h1 {
    font-size: 4rem;
    background: linear-gradient(to left, #ffffff, #686770, #e6e6e6, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 0;
  }

  @keyframes neonPulse {
    0%, 100% {
      text-shadow:
              0 0 5px rgba(152, 18, 184, 0.5),
              0 0 10px rgba(152, 18, 184, 0.3),
              0 0 20px rgba(152, 18, 184, 0.2);
    }
    50% {
      text-shadow:
              0 0 8px rgba(152, 18, 184, 0.8),
              0 0 15px rgba(152, 18, 184, 0.6),
              0 0 30px rgba(152, 18, 184, 0.3);
    }
  }

  h2 {
    margin-top: 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
      color: #bbbbbb;

    text-shadow:
            0 0 5px rgba(152, 18, 184, 0.6),  /* Brilho próximo */
            0 0 10px rgba(152, 18, 184, 0.3), /* Brilho médio */
            0 0 20px rgba(152, 18, 184, 0.2); /* Brilho mais difuso */

    animation: neonPulse 3s infinite alternate;
  }

  p {
    text-align: center;
  }
}

.middle-container {
  padding-top: 5%;

  h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}

.grid-home {
  padding-top: 30px;
  padding-bottom: 30px;

  svg {
    margin-right: 1rem;
    color: $middle-purple;
    font-size: 1.2rem;
  }

  h5 {
    margin-bottom: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .grid-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #141414;
    border-radius: 15px;
    border: 1px solid #212121;
    position: relative;

    .icon {
      max-height: 200px;
      width: auto;
      height: auto;
    }

    .p-icon {
      margin-left: 20%;
    }

    .p-icon2 {
      margin-right: 20%;
    }
  }
}

.mission-block {
  background: linear-gradient(to right, #500e8e, #770b13);
  padding-top: 6%;
  padding-bottom: 5%;
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;
  z-index: 0;
  display: flex;
  align-content: center;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, transparent 2%, #0c0c0e 100%);
    pointer-events: none;
  }

  * {
    z-index: 2;
  }

  h5 {
    font-weight: 400;
    font-size: 1.5rem;
    color: $p-color;
    text-align: center;
  }
}

