@use 'config/colors';

.home-top-bg {
  height: 100vh;
  background: linear-gradient(to right, #500e8e, #770b13);
  padding-top: 7%;
  overflow: hidden;
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, transparent 30%, #0c0c0e 100%);
    pointer-events: none;
  }

  * {
    z-index: 2;
  }

  .mask {
    &::after {
      content: '';
      position: absolute;
      top: -30%;
      left: 0;
      width: 100%;
      height: 130%;
      background: radial-gradient(ellipse at top, transparent 2%, #0c0c0e 75%, #0c0c0e 100%);
      pointer-events: none;
      z-index: 1;
      overflow: hidden;
    }
  }

  .img-bg {
    position: absolute;
    bottom: -40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 110%;
    background-image: url("../assets/laptop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    overflow: hidden;
    z-index: 0;
  }


  h1 {
    font-size: 4rem;
    background: linear-gradient(to left, #ffffff, #686770, #e6e6e6, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 0;
  }

  @keyframes neonPulse {
    0%, 100% {
      text-shadow:
              0 0 5px rgba(152, 18, 184, 0.5),
              0 0 10px rgba(152, 18, 184, 0.3),
              0 0 20px rgba(152, 18, 184, 0.2);
    }
    50% {
      text-shadow:
              0 0 8px rgba(152, 18, 184, 0.8),
              0 0 15px rgba(152, 18, 184, 0.6),
              0 0 30px rgba(152, 18, 184, 0.3);
    }
  }

  h2 {
    margin-top: 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
      color: #bbbbbb;

    text-shadow:
            0 0 5px rgba(152, 18, 184, 0.6),
            0 0 10px rgba(152, 18, 184, 0.3),
            0 0 20px rgba(152, 18, 184, 0.2);

    animation: neonPulse 3s infinite alternate;
  }

  p {
    text-align: center;
  }

  @media (max-width: 640px) {
    padding-top: 20%;
    height: 60vh;
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    .img-bg {
      background-image: none;
    }
  }
}

 //MIDDLE CONTAINER
.middle-container {
  padding-top: 5%;

  h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}

//GRID

.grid-home {
  padding-top: 30px;
  padding-bottom: 30px;

  svg {
    margin-right: 1rem;
    color: colors.$middle-purple;
    font-size: 1.2rem;
  }

  h5 {
    margin-bottom: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .grid-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: colors.$card-bg;
    border-radius: 15px;
    border: 1px solid colors.$card-border;
    position: relative;

    .icon {
      max-height: 150px;
      width: auto;
      height: auto;
    }

    .p-icon {
      margin-left: 20%;
    }

    .p-icon2 {
      margin-right: 20%;
    }
  }

  @media (max-width: 640px) {
    .icon {
      max-width: 150px;
    }
  }
}

// WEBSITE CREATION

.website-creation {
  margin-top: 80px;
  margin-bottom: 60px;
  position: relative;
  padding: 30px;
  min-height: 500px;
  background-image: url("../assets/website-creation.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(100% - 30px) center;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 50%, #0c0c0e 100%);
    pointer-events: none;
  }

  h2 {
    color: colors.$p-color;
    font-size: 4rem;
  }
  span {
    background: linear-gradient(90deg, #9838f4, #c1272d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: 640px) {
    min-height: 800px;
    background-position: bottom;

    &::after {
      background: linear-gradient(to bottom, transparent 80%, #0c0c0e 100%);
    }
    h2 {
      color: colors.$p-color;
      font-size: 2.5rem;
    }
  }
}

 //MISSION

.mission-block {
  background: linear-gradient(to right, #500e8e, #770b13);
  padding-top: 6%;
  padding-bottom: 5%;
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;
  z-index: 0;
  display: flex;
  align-content: center;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, transparent 2%, #0c0c0e 100%);
    pointer-events: none;
  }

  * {
    z-index: 2;
  }

  h5 {
    font-weight: 400;
    font-size: 1.5rem;
    color: colors.$p-color;
    text-align: center;
  }
}

//START A PROJECT

.start-project {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .project-card {
    background: colors.$card-bg;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid colors.$card-border;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

    h3 {
      color: colors.$p-color;
    }

    a {
      font-size: 14px;
      background-color: colors.$p-color;
      transition: background-color 0.3s;
      &:hover {
        background-color: #fff;
      }
    }
  }

  @media (max-width: 640px) {
    .project-card {
      width: 90%;
    }
  }
}
