.home-top-bg {
  height: 100vh;
  background: linear-gradient(to right, #500e8e, #770b13);
  padding-top: 8%;
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, transparent 2%, #0c0c0e 100%);
    pointer-events: none;
  }

  * {
    z-index: 2;
  }

  .img-bg {
    height: 100%;
    background-image: url("../assets/header-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom -20%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(ellipse, transparent 2%, #0c0c0e 75%, #0c0c0e 100%);
      pointer-events: none;
    }
  }

  h1 {
    font-size: 4rem;
    background: linear-gradient(to left, #ffffff, #686770, #e6e6e6, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 0;
  }

  h2{
    margin-top: 0;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #7f2bf7;
  }

  p {
    text-align: center;
  }
}

.middle-container {
  padding-top: 5%;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #9838f4, #c1272d, #ffffff, #686770, #e6e6e6, #686770);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.grid-home {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .grid-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #141414;
    border-radius: 15px;
    border: 1px solid #212121;
    position: relative;

    p {
      color: $p-color;
    }

    .icon {
      max-height: 250px;
      width: auto;
      height: auto;
    }

    .p-icon {
      margin-left: 20%;
    }

    .p-icon2 {
      margin-right: 20%;
    }
  }
}
