@import 'config/fonts';
@import 'config/colors';
@import 'home_page';
@import 'components/buttons';
@import 'components/carousel';
@import 'components/about_card';
@import 'components/footer';
@import 'about_page';

p, li {
  color: $p-color;
  font-size: 1.1rem;
}

html {
  scroll-behavior: smooth;
}
